@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Permanent+Marker&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.rotate-warning{
  display: none;
}
@media screen and (orientation : landscape){
  main{
    display: none;
  }
  .rotate-warning{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  background: linear-gradient(
    120deg,
    #E0EAFC,
    #CFDEF3,
    #E4C1F9
  );
  background-size: 200% 200%;
  animation: gradientMove 18s ease infinite;
  }
}
@keyframes gradientMove{
  0%{ background-position: 0% 50%; }
  50%{ background-position: 100% 50%; }
  100%{ background-position: 0% 50%; }
}
main{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    120deg,
    #E0EAFC,
    #CFDEF3,
    #E4C1F9
  );
  background-size: 300% 300%;
  animation: gradientMove 18s ease infinite;
  overflow: hidden;
  padding-top: 100px;
}
.loading{
  background: #E4C1F9a0;
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-animation{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
@keyframes rotate{
  0%{
    transform: rotate(35deg);
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #0000ff00;
    border-top: 5px solid #0000ff00;
    border-right: 5px solid #0000ff;
  }
  10%{
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #0000ff00;
    border-top: 5px solid #0000ff00;
    border-right: 5px solid #0000ff00;
  }
  20%{
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #0000ff;
    border-top: 5px solid #0000ff00;
    border-right: 5px solid #0000ff00;
  }
  30%{
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #0000ff;
    border-top: 5px solid #0000ff;
    border-right: 5px solid #0000ff00;
  }
  40%{
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #0000ff;
    border-top: 5px solid #0000ff;
    border-right: 5px solid #0000ff00;
  }
  50%{
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #0000ff;
    border-top: 5px solid #0000ff;
    border-right: 5px solid #0000ff;
  }
  60%{
    border-bottom: 5px solid #0000ff00;
    border-left: 5px solid #0000ff;
    border-top: 5px solid #0000ff;
    border-right: 5px solid #0000ff;
  }
  70%{
    border-bottom: 5px solid #0000ff00;
    border-left: 5px solid #0000ff;
    border-top: 5px solid #0000ff;
    border-right: 5px solid #0000ff;
  }
  80%{
    border-bottom: 5px solid #0000ff00;
    border-left: 5px solid #0000ff00;
    border-top: 5px solid #0000ff;
    border-right: 5px solid #0000ff;
  }
  90%{
    border-bottom: 5px solid #0000ff00;
    border-left: 5px solid #0000ff00;
    border-top: 5px solid #0000ff00;
    border-right: 5px solid #0000ff;
  }
  100%{
    transform: rotate(393deg);
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #0000ff00;
    border-top: 5px solid #0000ff00;
    border-right: 5px solid #0000ff;
  }
}
.loadingoff{
  display: none;
}
header{
  width: 100%;
  background: #8494FF;
  height: 75px;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 98;
  box-shadow: 0 8px 20px #8494FF;
}
.logo{
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.logo img{
  border-radius: 50%;
}
.navigasi{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  padding: 0 8px;
}
.navigasi h4{
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 1px dashed black;
  padding: 0 10px;
}
.navigasi select{
  height: 25px;
  border-radius: 12px;
  font-weight: bold;
  backdrop-filter: blur(12px);
  background: #ffffff50;
  outline: 1.5px solid white;
  outline-offset: 1px;
  border: none;
}
.navigasi select:focus{
  outline: 1.5px solid lightblue;
  outline-offset: 0px;
}
article{
  width: 95%;
  height: 650px;
  border: 1px solid white;
  border-radius: 12px;
  background: #ffffff20;
  backdrop-filter: blur(5px);
  margin: 0 auto;
  position: fixed;
  overflow: scroll;
}
.header{
  position: sticky;
  top: 0px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: linear-gradient(180deg , #fffb, #fff6,  #fff0);
}
.balon.halaman{
  width: 60px;
  height: 25px;
  background: #8494FF;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 12px;
}
.balon.audio{
  width: 25px;
  height: 25px;
  background: #8494FF;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 50%;
}
.balon.surah{
  width: 150px;
  height: 25px;
  background: #8494FF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
}
#tampil{
  min-height: 250px;
  width: 100%;
  margin-top: 10px;
  padding: 0 10px 3px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.texttampil{
  text-align: center;
  font-weight: 1000;
  font-style: normal;
  font-family: "Amiri Quran", serif;
}
.footer{
  text-align: center;
  margin-top: 10px;
  font-weight: 200;
}
.textbismillah{
  display: block;
  text-align: center;
  border: 2px double #8494FF;
  border-radius: 12px;
  padding: 15px 0 15px 0;
}
.textayahar{
  text-align: right;
  font-family: "Amiri Quran", serif;
  font-weight: 1000;
  margin: 0 3px;
}
.textayahid{
  text-align: left;
  font-size: small;
  font-style: italic;
  color: grey;
  margin: 0 3px;
}
.parrent{
  min-height: 55px;
  border-bottom: 1px solid;
  margin-top: 10px;
  box-sizing: content-box;
  padding-bottom: 3px;
}
.textnamesurah{
  border-right: 1px solid white;
  border-left: 1px solid white;
  display: inline-block;
  padding: 0 5px;
  height: 85%;
  border-radius: 5px;
}
.ltn{
  font-size: 0.75em;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}